body {
  background-color: #302c33;
}
.teclas {
  float: right;
  margin-right:80px;
  margin-top: 30px;
}
.titulo {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
#jogo {
  margin-left: 360px;
  margin-bottom: 1px;
}
