body {
  background-color: #2b2b2b;
  margin: 0px;
  padding: 0px;
}
.teclas {
  float: right;
  margin-top: -40%;
  flex-direction: row;
}
.titulo {
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 0.5%;
}

.container1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
